pre {
    color:black;
    background-color:#e6e6e6;
    font-weight: 100;
}

/* Hide scrollbar for Chrome, Safari and Opera */
pre::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  pre {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

p code {
    font-size: small !important;
    font-weight: 500 !important;
    border: solid 1px #cccccc;
    padding: 3px;
    background-color: #e6e6e6;
}

li code {
    font-size: small;
    background-color:#e6e6e6 ;
    border: solid 1px #cccccc;
    padding: 3px;
}

body {
    color: rgb(31, 31, 31) !important;
    background-color:#f5f5f5 !important;
}

.serif,.athelas {
    font-family: 'Open Sans', sans-serif !important;
}

p {
    color:black !important;
}

ol {
    color:black !important;
}

h1, h2, h3, h4 {
    color:rgb(0,101,115) !important;
}

/*aside div {
    background-color: rgb(31, 31, 31) !important; 0,101,115
}*/

body header div nav {
    color:#f5f5f5 !important;
}

/*nav a {
    color:#000f7d !important;
}*/

a.f3 { /*mini title*/
    color:#aaa !important;
}

footer a{
    color: #aaa !important;
}